web/eSolutions/wars/eSolutions_web_source/src/main/webapp/WEB-INF/wsdl/dnsservicerequestprocessorimpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="DNSServiceRequestProcessorImpl" targetNamespace="http://impl.processors.core.esolutions.cws.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://impl.processors.core.esolutions.cws.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<schema xmlns="http://www.w3.org/2001/XMLSchema">
  <import namespace="http://impl.processors.core.esolutions.cws.com/" schemaLocation="dnsservicerequestprocessorimpl_schema1.xsd"></import>
</schema>
  </wsdl:types>
  <wsdl:message name="createNewServiceResponse">
    <wsdl:part name="parameters" element="tns:createNewServiceResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pushNewServiceResponse">
    <wsdl:part name="parameters" element="tns:pushNewServiceResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DNSServiceException">
    <wsdl:part name="DNSServiceException" element="tns:DNSServiceException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="performSiteTransferResponse">
    <wsdl:part name="parameters" element="tns:performSiteTransferResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="performSiteTransfer">
    <wsdl:part name="parameters" element="tns:performSiteTransfer">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="performLookupResponse">
    <wsdl:part name="parameters" element="tns:performLookupResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDataFromDatabaseResponse">
    <wsdl:part name="parameters" element="tns:getDataFromDatabaseResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDataFromDatabase">
    <wsdl:part name="parameters" element="tns:getDataFromDatabase">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createNewService">
    <wsdl:part name="parameters" element="tns:createNewService">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pushNewService">
    <wsdl:part name="parameters" element="tns:pushNewService">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="performLookup">
    <wsdl:part name="parameters" element="tns:performLookup">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="DNSServiceRequestProcessorImplPortType">
    <wsdl:operation name="getDataFromDatabase">
      <wsdl:input name="getDataFromDatabase" message="tns:getDataFromDatabase">
    </wsdl:input>
      <wsdl:output name="getDataFromDatabaseResponse" message="tns:getDataFromDatabaseResponse">
    </wsdl:output>
      <wsdl:fault name="DNSServiceException" message="tns:DNSServiceException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="performSiteTransfer">
      <wsdl:input name="performSiteTransfer" message="tns:performSiteTransfer">
    </wsdl:input>
      <wsdl:output name="performSiteTransferResponse" message="tns:performSiteTransferResponse">
    </wsdl:output>
      <wsdl:fault name="DNSServiceException" message="tns:DNSServiceException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createNewService">
      <wsdl:input name="createNewService" message="tns:createNewService">
    </wsdl:input>
      <wsdl:output name="createNewServiceResponse" message="tns:createNewServiceResponse">
    </wsdl:output>
      <wsdl:fault name="DNSServiceException" message="tns:DNSServiceException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="performLookup">
      <wsdl:input name="performLookup" message="tns:performLookup">
    </wsdl:input>
      <wsdl:output name="performLookupResponse" message="tns:performLookupResponse">
    </wsdl:output>
      <wsdl:fault name="DNSServiceException" message="tns:DNSServiceException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="pushNewService">
      <wsdl:input name="pushNewService" message="tns:pushNewService">
    </wsdl:input>
      <wsdl:output name="pushNewServiceResponse" message="tns:pushNewServiceResponse">
    </wsdl:output>
      <wsdl:fault name="DNSServiceException" message="tns:DNSServiceException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DNSServiceRequestProcessorImplSoapBinding" type="tns:DNSServiceRequestProcessorImplPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getDataFromDatabase">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getDataFromDatabase">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getDataFromDatabaseResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DNSServiceException">
        <soap:fault name="DNSServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="performSiteTransfer">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="performSiteTransfer">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="performSiteTransferResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DNSServiceException">
        <soap:fault name="DNSServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createNewService">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createNewService">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createNewServiceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DNSServiceException">
        <soap:fault name="DNSServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="performLookup">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="performLookup">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="performLookupResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DNSServiceException">
        <soap:fault name="DNSServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="pushNewService">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="pushNewService">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="pushNewServiceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DNSServiceException">
        <soap:fault name="DNSServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DNSServiceRequestProcessorImpl">
    <wsdl:port name="DNSServiceRequestProcessorImplPort" binding="tns:DNSServiceRequestProcessorImplSoapBinding">
      <soap:address location="http://localhost:9090/DNSServiceRequestProcessorImplPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
