web/eSolutions/wars/eSolutions_web_source/src/main/webapp/WEB-INF/wsdl/dnsservicerequestprocessorimpl_schema1.xsd

<?xml version="1.0" encoding="utf-8"?><xsd:schema xmlns="http://impl.processors.core.esolutions.cws.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://impl.processors.core.esolutions.cws.com/">
  <xsd:complexType name="requestHostInfo">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="hostAddress" type="xsd:string"/>
      <xsd:element minOccurs="0" name="hostName" type="xsd:string"/>
      <xsd:element minOccurs="0" name="sessionId" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="dnsEntry">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="apex" type="xsd:string"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="apexRecords" nillable="true" type="dnsRecord"/>
      <xsd:element name="cacheTime" type="xsd:int"/>
      <xsd:element minOccurs="0" name="fileName" type="xsd:string"/>
      <xsd:element name="lifetime" type="xsd:int"/>
      <xsd:element minOccurs="0" name="master" type="xsd:string"/>
      <xsd:element minOccurs="0" name="origin" type="xsd:string"/>
      <xsd:element minOccurs="0" name="owner" type="xsd:string"/>
      <xsd:element minOccurs="0" name="projectCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="serialNumber" type="xsd:string"/>
      <xsd:element name="slaveExpiry" type="xsd:int"/>
      <xsd:element name="slaveRefresh" type="xsd:int"/>
      <xsd:element name="slaveRetry" type="xsd:int"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="subRecords" nillable="true" type="dnsRecord"/>
      <xsd:element minOccurs="0" name="zoneData" type="xsd:anySimpleType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="dnsRecord">
    <xsd:sequence>
      <xsd:element name="mailRecord" type="xsd:boolean"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="primaryAddress" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="recordClass" type="xsd:string"/>
      <xsd:element name="recordLifetime" type="xsd:int"/>
      <xsd:element minOccurs="0" name="recordName" type="xsd:string"/>
      <xsd:element minOccurs="0" name="recordOrigin" type="xsd:string"/>
      <xsd:element name="recordPort" type="xsd:int"/>
      <xsd:element name="recordPriority" type="xsd:int"/>
      <xsd:element minOccurs="0" name="recordProtocol" type="xsd:string"/>
      <xsd:element minOccurs="0" name="recordService" type="xsd:string"/>
      <xsd:element minOccurs="0" name="recordType" type="dnsRecordType"/>
      <xsd:element name="recordWeight" type="xsd:int"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="secondaryAddress" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="spfRecord" type="xsd:string"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="tertiaryAddress" nillable="true" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="dnsServiceRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="applicationId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="applicationName" type="xsd:string"/>
      <xsd:element minOccurs="0" name="changeRequest" type="xsd:string"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="dnsEntries" nillable="true" type="dnsEntry"/>
      <xsd:element minOccurs="0" name="dnsEntry" type="dnsEntry"/>
      <xsd:element minOccurs="0" name="record" type="dnsRecord"/>
      <xsd:element minOccurs="0" name="requestInfo" type="requestHostInfo"/>
      <xsd:element minOccurs="0" name="requestType" type="dnsRequestType"/>
      <xsd:element minOccurs="0" name="resolverHost" type="xsd:string"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="searchPath" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="searchURL" type="xsd:string"/>
      <xsd:element minOccurs="0" name="serviceId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="serviceRegion" type="serviceRegion"/>
      <xsd:element minOccurs="0" name="userAccount" type="userAccount"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="dnsServiceResponse">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="dnsEntries" nillable="true" type="dnsEntry"/>
      <xsd:element minOccurs="0" name="dnsEntry" type="dnsEntry"/>
      <xsd:element minOccurs="0" name="dnsRecord" type="dnsRecord"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="dnsRecords" nillable="true" type="dnsRecord"/>
      <xsd:element minOccurs="0" name="requestStatus" type="coreServicesStatus"/>
      <xsd:element minOccurs="0" name="response" type="xsd:string"/>
      <xsd:element minOccurs="0" name="zoneData" type="xsd:anySimpleType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="userAccount">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="displayName" type="xsd:string"/>
      <xsd:element minOccurs="0" name="emailAddr" type="xsd:string"/>
      <xsd:element minOccurs="0" name="expiryDate" type="xsd:long"/>
      <xsd:element minOccurs="0" name="failedCount" type="xsd:int"/>
      <xsd:element minOccurs="0" name="givenName" type="xsd:string"/>
      <xsd:element minOccurs="0" name="guid" type="xsd:string"/>
      <xsd:element minOccurs="0" name="lastLogin" type="xsd:dateTime"/>
      <xsd:element name="olrLocked" type="xsd:boolean"/>
      <xsd:element name="olrSetup" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="pagerNumber" type="xsd:string"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="projectList" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="role" type="role"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="serviceList" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="status" type="loginStatus"/>
      <xsd:element minOccurs="0" name="surname" type="xsd:string"/>
      <xsd:element name="suspended" type="xsd:boolean"/>
      <xsd:element name="tcAccepted" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="telephoneNumber" type="xsd:string"/>
      <xsd:element minOccurs="0" name="userKeys" type="xsd:anySimpleType"/>
      <xsd:element minOccurs="0" name="username" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="serviceRegion">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="DEV"/>
      <xsd:enumeration value="INT"/>
      <xsd:enumeration value="SIT"/>
      <xsd:enumeration value="QA"/>
      <xsd:enumeration value="STG"/>
      <xsd:enumeration value="PRD"/>
      <xsd:enumeration value="DR"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="loginStatus">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="SUCCESS"/>
      <xsd:enumeration value="RESET"/>
      <xsd:enumeration value="FAILURE"/>
      <xsd:enumeration value="LOCKOUT"/>
      <xsd:enumeration value="SUSPENDED"/>
      <xsd:enumeration value="SESSION_EXISTS"/>
      <xsd:enumeration value="EXPIRED"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="dnsRecordType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="A"/>
      <xsd:enumeration value="AAAA"/>
      <xsd:enumeration value="AFSDB"/>
      <xsd:enumeration value="CERT"/>
      <xsd:enumeration value="CNAME"/>
      <xsd:enumeration value="DHCID"/>
      <xsd:enumeration value="DLV"/>
      <xsd:enumeration value="DNAME"/>
      <xsd:enumeration value="DNSKEY"/>
      <xsd:enumeration value="DS"/>
      <xsd:enumeration value="HIP"/>
      <xsd:enumeration value="IPSECKEY"/>
      <xsd:enumeration value="KEY"/>
      <xsd:enumeration value="LOC"/>
      <xsd:enumeration value="MX"/>
      <xsd:enumeration value="NAPTR"/>
      <xsd:enumeration value="NS"/>
      <xsd:enumeration value="NSEC"/>
      <xsd:enumeration value="NSEC3"/>
      <xsd:enumeration value="NSEC3PARAM"/>
      <xsd:enumeration value="PTR"/>
      <xsd:enumeration value="RRSIG"/>
      <xsd:enumeration value="RP"/>
      <xsd:enumeration value="SIG"/>
      <xsd:enumeration value="SOA"/>
      <xsd:enumeration value="SPF"/>
      <xsd:enumeration value="SRV"/>
      <xsd:enumeration value="SSHFP"/>
      <xsd:enumeration value="TA"/>
      <xsd:enumeration value="TXT"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="role">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="USER"/>
      <xsd:enumeration value="ADMIN"/>
      <xsd:enumeration value="SITEADMIN"/>
      <xsd:enumeration value="USERADMIN"/>
      <xsd:enumeration value="SERVICEADMIN"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="coreServicesStatus">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="SUCCESS"/>
      <xsd:enumeration value="FAILURE"/>
      <xsd:enumeration value="EXCEPTION"/>
      <xsd:enumeration value="UNAUTHORIZED"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="dnsRequestType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ADD"/>
      <xsd:enumeration value="DELETE"/>
      <xsd:enumeration value="DEPLOY"/>
      <xsd:enumeration value="FAILOVER"/>
      <xsd:enumeration value="LOOKUP"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:element name="DNSServiceException" type="DNSServiceException"/>
  <xsd:complexType name="DNSServiceException">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="message" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="getDataFromDatabase" type="getDataFromDatabase"/>
  <xsd:complexType name="getDataFromDatabase">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="request"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="getDataFromDatabaseResponse" type="getDataFromDatabaseResponse"/>
  <xsd:complexType name="getDataFromDatabaseResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="performSiteTransfer" type="performSiteTransfer"/>
  <xsd:complexType name="performSiteTransfer">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="request"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="performSiteTransferResponse" type="performSiteTransferResponse"/>
  <xsd:complexType name="performSiteTransferResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="createNewService" type="createNewService"/>
  <xsd:complexType name="createNewService">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="request"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="createNewServiceResponse" type="createNewServiceResponse"/>
  <xsd:complexType name="createNewServiceResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="performLookup" type="performLookup"/>
  <xsd:complexType name="performLookup">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="request"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="performLookupResponse" type="performLookupResponse"/>
  <xsd:complexType name="performLookupResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="pushNewService" type="pushNewService"/>
  <xsd:complexType name="pushNewService">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="request"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="pushNewServiceResponse" type="pushNewServiceResponse"/>
  <xsd:complexType name="pushNewServiceResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
