web/eSolutions/jars/eSolutions_web_config/src/main/resources/eSolutionsCore/wsdl/CoreRequestProcessorService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://esolutions.caspersbox.corp/s?q=esolutions"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    attributeFormDefault="unqualified"
    elementFormDefault="unqualified"
    targetNamespace="http://esolutions.caspersbox.corp/s?q=esolutions">

    <xsd:complexType name="requestHostInfo">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="hostAddress" type="xsd:string" />
            <xsd:element minOccurs="0" name="hostName" type="xsd:string" />
            <xsd:element minOccurs="0" name="sessionId" type="xsd:string" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="userAccount">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="displayName" type="xsd:string" />
            <xsd:element minOccurs="0" name="emailAddr" type="xsd:string" />
            <xsd:element minOccurs="0" name="expiryDate" type="xsd:long" />
            <xsd:element minOccurs="0" name="failedCount" type="xsd:int" />
            <xsd:element minOccurs="0" name="givenName" type="xsd:string" />
            <xsd:element minOccurs="0" name="guid" type="xsd:string" />
            <xsd:element minOccurs="0" name="lastLogin" type="xsd:dateTime" />
            <xsd:element name="olrLocked" type="xsd:boolean" />
            <xsd:element name="olrSetup" type="xsd:boolean" />
            <xsd:element minOccurs="0" name="pagerNumber" type="xsd:string" />
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="projectList" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="0" name="role" type="role" />
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="serviceList" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="0" name="status" type="loginStatus" />
            <xsd:element minOccurs="0" name="surname" type="xsd:string" />
            <xsd:element name="suspended" type="xsd:boolean" />
            <xsd:element name="tcAccepted" type="xsd:boolean" />
            <xsd:element minOccurs="0" name="telephoneNumber" type="xsd:string" />
            <xsd:element minOccurs="0" name="userKeys" type="xsd:anySimpleType" />
            <xsd:element minOccurs="0" name="username" type="xsd:string" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="userSecurity">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="userSalt" type="xsd:string" />
            <xsd:element minOccurs="0" name="otpValue" type="xsd:string" />
            <xsd:element minOccurs="0" name="password" type="xsd:string" />
            <xsd:element minOccurs="0" name="newPassword" type="xsd:string" />
            <xsd:element minOccurs="0" name="secAnswerOne" type="xsd:string" />
            <xsd:element minOccurs="0" name="secAnswerTwo" type="xsd:string" />
            <xsd:element minOccurs="0" name="secQuestionOne" type="xsd:string" />
            <xsd:element minOccurs="0" name="secQuestionTwo" type="xsd:string" />
            <xsd:element minOccurs="0" name="resetRequestId" type="xsd:string" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="loginType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="SECCONFIG" />
            <xsd:enumeration value="USERNAME" />
            <xsd:enumeration value="PASSWORD" />
            <xsd:enumeration value="OTP" />
            <xsd:enumeration value="COMBINED" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="authenticationType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="LOGIN" />
            <xsd:enumeration value="SECURITY" />
            <xsd:enumeration value="LOGOFF" />
            <xsd:enumeration value="RESET" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="role">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="USER" />
            <xsd:enumeration value="ADMIN" />
            <xsd:enumeration value="SITEADMIN" />
            <xsd:enumeration value="USERADMIN" />
            <xsd:enumeration value="SERVICEADMIN" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="loginStatus">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="SUCCESS" />
            <xsd:enumeration value="RESET" />
            <xsd:enumeration value="FAILURE" />
            <xsd:enumeration value="LOCKOUT" />
            <xsd:enumeration value="SUSPENDED" />
            <xsd:enumeration value="SESSION_EXISTS" />
            <xsd:enumeration value="EXPIRED" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="securityRequestStatus">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="SUCCESS" />
            <xsd:enumeration value="FAILURE" />
            <xsd:enumeration value="UNAUTHORIZED" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="coreServicesStatus">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="SUCCESS" />
            <xsd:enumeration value="FAILURE" />
            <xsd:enumeration value="EXCEPTION" />
            <xsd:enumeration value="UNAUTHORIZED" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="authenticationRequest">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="count" type="xsd:int" />
            <xsd:element minOccurs="0" name="timeoutValue" type="xsd:int" />
            <xsd:element minOccurs="0" name="resetSmsCode" type="xsd:string" />
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="loginType" nillable="true" type="loginType" />
            <xsd:element minOccurs="0" name="applicationId" type="xsd:string" />
            <xsd:element minOccurs="0" name="resetRequestId" type="xsd:string" />
            <xsd:element minOccurs="0" name="applicationName" type="xsd:string" />
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="userAccount" nillable="true" type="userAccount" />
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="hostInfo" nillable="true" type="requestHostInfo" />
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="userSecurity" nillable="true" type="userSecurity" />
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="authType" nillable="true" type="authenticationType" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="authenticationResponse">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="count" type="xsd:int" />
            <xsd:element minOccurs="0" name="response" type="xsd:string" />
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="userAccount" nillable="true" type="userAccount" />
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="userSecurity" nillable="true" type="userSecurity" />
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="requestStatus" nillable="true" type="securityRequestStatus" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="serviceRegion">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="DEV" />
            <xsd:enumeration value="INT" />
            <xsd:enumeration value="SIT" />
            <xsd:enumeration value="QA" />
            <xsd:enumeration value="STG" />
            <xsd:enumeration value="PRD" />
            <xsd:enumeration value="DR" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="dnsRecordType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="A" />
            <xsd:enumeration value="AAAA" />
            <xsd:enumeration value="AFSDB" />
            <xsd:enumeration value="CERT" />
            <xsd:enumeration value="CNAME" />
            <xsd:enumeration value="DHCID" />
            <xsd:enumeration value="DLV" />
            <xsd:enumeration value="DNAME" />
            <xsd:enumeration value="DNSKEY" />
            <xsd:enumeration value="DS" />
            <xsd:enumeration value="HIP" />
            <xsd:enumeration value="IPSECKEY" />
            <xsd:enumeration value="KEY" />
            <xsd:enumeration value="LOC" />
            <xsd:enumeration value="MX" />
            <xsd:enumeration value="NAPTR" />
            <xsd:enumeration value="NS" />
            <xsd:enumeration value="NSEC" />
            <xsd:enumeration value="NSEC3" />
            <xsd:enumeration value="NSEC3PARAM" />
            <xsd:enumeration value="PTR" />
            <xsd:enumeration value="RRSIG" />
            <xsd:enumeration value="RP" />
            <xsd:enumeration value="SIG" />
            <xsd:enumeration value="SOA" />
            <xsd:enumeration value="SPF" />
            <xsd:enumeration value="SRV" />
            <xsd:enumeration value="SSHFP" />
            <xsd:enumeration value="TA" />
            <xsd:enumeration value="TXT" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="dnsRequestType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="ADD" />
            <xsd:enumeration value="DELETE" />
            <xsd:enumeration value="DEPLOY" />
            <xsd:enumeration value="FAILOVER" />
            <xsd:enumeration value="LOOKUP" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="dnsEntry">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="apex" type="xsd:string" />
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="apexRecords" nillable="true" type="dnsRecord" />
            <xsd:element name="cacheTime" type="xsd:int" />
            <xsd:element minOccurs="0" name="fileName" type="xsd:string" />
            <xsd:element name="lifetime" type="xsd:int" />
            <xsd:element minOccurs="0" name="master" type="xsd:string" />
            <xsd:element minOccurs="0" name="origin" type="xsd:string" />
            <xsd:element minOccurs="0" name="owner" type="xsd:string" />
            <xsd:element minOccurs="0" name="projectCode" type="xsd:string" />
            <xsd:element minOccurs="0" name="serialNumber" type="xsd:string" />
            <xsd:element name="slaveExpiry" type="xsd:int" />
            <xsd:element name="slaveRefresh" type="xsd:int" />
            <xsd:element name="slaveRetry" type="xsd:int" />
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="subRecords" nillable="true" type="dnsRecord" />
            <xsd:element minOccurs="0" name="zoneData" type="xsd:anySimpleType" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="dnsRecord">
        <xsd:sequence>
            <xsd:element name="mailRecord" type="xsd:boolean" />
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="primaryAddress" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="0" name="recordClass" type="xsd:string" />
            <xsd:element name="recordLifetime" type="xsd:int" />
            <xsd:element minOccurs="0" name="recordName" type="xsd:string" />
            <xsd:element minOccurs="0" name="recordOrigin" type="xsd:string" />
            <xsd:element name="recordPort" type="xsd:int" />
            <xsd:element name="recordPriority" type="xsd:int" />
            <xsd:element minOccurs="0" name="recordProtocol" type="xsd:string" />
            <xsd:element minOccurs="0" name="recordService" type="xsd:string" />
            <xsd:element minOccurs="0" name="recordType" type="dnsRecordType" />
            <xsd:element name="recordWeight" type="xsd:int" />
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="secondaryAddress" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="0" name="spfRecord" type="xsd:string" />
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="tertiaryAddress" nillable="true" type="xsd:string" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="dnsServiceRequest">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="applicationId" type="xsd:string" />
            <xsd:element minOccurs="0" name="applicationName" type="xsd:string" />
            <xsd:element minOccurs="0" name="changeRequest" type="xsd:string" />
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="dnsEntries" nillable="true" type="dnsEntry" />
            <xsd:element minOccurs="0" name="dnsEntry" type="dnsEntry" />
            <xsd:element minOccurs="0" name="record" type="dnsRecord" />
            <xsd:element minOccurs="0" name="requestInfo" type="requestHostInfo" />
            <xsd:element minOccurs="0" name="requestType" type="dnsRequestType" />
            <xsd:element minOccurs="0" name="resolverHost" type="xsd:string" />
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="searchPath" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="0" name="searchURL" type="xsd:string" />
            <xsd:element minOccurs="0" name="serviceId" type="xsd:string" />
            <xsd:element minOccurs="0" name="serviceRegion" type="serviceRegion" />
            <xsd:element minOccurs="0" name="userAccount" type="userAccount" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="dnsServiceResponse">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="dnsEntries" nillable="true" type="dnsEntry" />
            <xsd:element minOccurs="0" name="dnsEntry" type="dnsEntry" />
            <xsd:element minOccurs="0" name="dnsRecord" type="dnsRecord" />
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="dnsRecords" nillable="true" type="dnsRecord" />
            <xsd:element minOccurs="0" name="requestStatus" type="coreServicesStatus" />
            <xsd:element minOccurs="0" name="response" type="xsd:string" />
            <xsd:element minOccurs="0" name="zoneData" type="xsd:anySimpleType" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="searchResult">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="entryCount" type="xsd:int" />
            <xsd:element minOccurs="0" name="path" type="xsd:string" />
            <xsd:element minOccurs="0" name="title" type="xsd:string" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="searchRequest">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="startPage" type="xsd:int" />
            <xsd:element minOccurs="0" name="searchLimit" type="xsd:int" />
            <xsd:element minOccurs="0" name="searchTerms" type="xsd:string" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="searchResponse">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="entryCount" type="xsd:int" />
            <xsd:element minOccurs="0" name="response" type="xsd:string" />
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="results" nillable="true" type="searchResult" />
            <xsd:element minOccurs="0" name="requestStatus" type="coreServicesStatus" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="DNSServiceException" type="DNSServiceException" />
    <xsd:complexType name="DNSServiceException">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="message" type="xsd:string" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="AuthenticationException" type="AuthenticationException" />
    <xsd:complexType name="AuthenticationException">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="message" type="xsd:string" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="SearchRequestException" type="SearchRequestException" />
    <xsd:complexType name="SearchRequestException">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="message" type="xsd:string" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="processAgentLogon" type="processAgentLogon" />
    <xsd:complexType name="processAgentLogon">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="request" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="processAgentLogonResponse" type="processAgentLogonResponse" />
    <xsd:complexType name="processAgentLogonResponse">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="return" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="obtainUserSecurityConfig" type="obtainUserSecurityConfig" />
    <xsd:complexType name="obtainUserSecurityConfig">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="request" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="obtainUserSecurityConfigResponse" type="obtainUserSecurityConfigResponse" />
    <xsd:complexType name="obtainUserSecurityConfigResponse">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="return" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="verifyUserSecurityConfig" type="verifyUserSecurityConfig" />
    <xsd:complexType name="verifyUserSecurityConfig">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="request" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="verifyUserSecurityConfigResponse" type="verifyUserSecurityConfigResponse" />
    <xsd:complexType name="verifyUserSecurityConfigResponse">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="return" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="performLookup" type="performLookup" />
    <xsd:complexType name="performLookup">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="request" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="performLookupResponse" type="performLookupResponse" />
    <xsd:complexType name="performLookupResponse">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="return" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="getDataFromDatabase" type="getDataFromDatabase" />
    <xsd:complexType name="getDataFromDatabase">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="request" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="getDataFromDatabaseResponse" type="getDataFromDatabaseResponse" />
    <xsd:complexType name="getDataFromDatabaseResponse">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="return" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="createNewService" type="createNewService" />
    <xsd:complexType name="createNewService">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="request" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="createNewServiceResponse" type="createNewServiceResponse" />
    <xsd:complexType name="createNewServiceResponse">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="return" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="pushNewService" type="pushNewService" />
    <xsd:complexType name="pushNewService">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="request" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="pushNewServiceResponse" type="pushNewServiceResponse" />
    <xsd:complexType name="pushNewServiceResponse">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="return" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="performSiteTransfer" type="performSiteTransfer" />
    <xsd:complexType name="performSiteTransfer">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="request" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="performSiteTransferResponse" type="performSiteTransferResponse" />
    <xsd:complexType name="performSiteTransferResponse">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="return" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="doServerSearch" type="doServerSearch" />
    <xsd:complexType name="doServerSearch">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="request" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="doServerSearchResponse" type="doServerSearchResponse" />
    <xsd:complexType name="doServerSearchResponse">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="return" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="doMessageSearch" type="doMessageSearch" />
    <xsd:complexType name="doMessageSearch">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="request" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="doMessageSearchResponse" type="doMessageSearchResponse" />
    <xsd:complexType name="doMessageSearchResponse">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="return" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="doApplicationSearch" type="doApplicationSearch" />
    <xsd:complexType name="doApplicationSearch">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="request" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="doApplicationSearchResponse" type="doApplicationSearchResponse" />
    <xsd:complexType name="doApplicationSearchResponse">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="return" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="doServiceSearch" type="doServiceSearch" />
    <xsd:complexType name="doServiceSearch">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="request" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="doServiceSearchResponse" type="doServiceSearchResponse" />
    <xsd:complexType name="doServiceSearchResponse">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="return" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="doSiteSearch" type="doSiteSearch" />
    <xsd:complexType name="doSiteSearch">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="request" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="doSiteSearchResponse" type="doSiteSearchResponse" />
    <xsd:complexType name="doSiteSearchResponse">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="return" />
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>